Repository FelipeRiego/devops-aula07, pull requests merged in 2018-10, with the labels that each got.

#2 Integrar Requisitos v1.0
  docs/requisitos.md
Labels: • análise

#4 integrar arquitetura v1.0
  docs/arquitetura.md
Labels: • arquitetura

#6 Integrar implementação v1.0
  src/jogovelha.py
Labels: • programação

#8 Integrar testes v1.0
  src/testes_inic.py
  src/testes_jogar.py
Labels: • testes
